div.parallax-window(data-parallax="scroll", data-speed="0.3", data-image-src="/img/home.jpg", data-bleed="10")

section
    h1 Holaa
    h1 Holaa
    h1 Holaa
    h1 Holaa
    h1 Holaa
    h1 Holaa
    h1 Holaa
    h1 Holaa
    h1 Holaa
    h1 Holaa
    h1 Holaa
    h1 Holaa
