doctype html
html(ng-app="jmlp", ng-controller="LoguedUserController")
    head
        //meta(charset="UTF-8")
        title(ng-bind-template="{{title}}")
        link(rel="stylesheet", type="text/css", href="/css/font-awesome.css")
        link(rel="stylesheet", type="text/css", href="/css/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="/css/jmlp.css")
        script(src="js/jquery.js", type="text/javascript")
        script(src="js/angular.js", type="text/javascript")
        script(src="js/angular-route.js", type="text/javascript")
        script(src="js/satellizer.js", type="text/javascript")
        script(src="js/bootstrap.js", type="text/javascript")
        script(src="js/ui-bootstrap-tpls-0.11.2.js", type="text/javascript")
        script(src="js/angular/services.js", type="text/javascript")
        script(src="js/angular/app.js", type="text/javascript")
        script(src="js/angular/controllers/loguedUser.js", type="text/javascript")
        script(src="js/angular/controllers/home.js", type="text/javascript")
        script(src="js/angular/controllers/navbar.js", type="text/javascript")
        script(src="js/angular/controllers/curriculum.js", type="text/javascript")
        script(src="js/angular/controllers/login.js", type="text/javascript")
        script(src="js/angular/controllers/admin/logout.js", type="text/javascript")
        script(src="js/angular/controllers/notFound.js", type="text/javascript")
        script(src="js/angular/controllers/admin/home.js", type="text/javascript")


        script(type="text/javascript").
            function parallax(){
                var scrolled = $(window).scrollTop();
                $('.bg').css('top', -(scrolled * 0.3) + 'px');
            }

            $(window).scroll(function (e) {
                parallax();
            });

        base(href="/")
    body

        include partials/navbar

        div.ng-view.container

        include partials/footer
