<div class="container contact">
    <!--<h1>Contacto</h1>-->
    <div class="col-md-12 text-center">
        <h3>A continuación se indican las distintas formas que tienes para contactar conmigo.</h3>
    </div>
    <div class="col-md-12 text-center contact-ways">
        <div class="col-md-4">
            <a href="mailto:juanmalp1992@gmail.com" target="_blank">
                <i class="fa fa-4x fa-envelope-square"></i>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://es.linkedin.com/in/juan-manuel-lópez-pazos-4a946963" target="_blank">
                <i class="fa fa-4x fa-linkedin-square"></i>
            </a>
        </div>
        <div class="col-md-4">
            <a href="https://github.com/jualoppaz" target="_blank">
                <i class="fa fa-4x fa-github-square"></i>
            </a>
        </div>
    </div>
</div>