<div class="bg col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

        <img src="/img/yo_web4.jpg" class="img-circle img-responsive">

        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
            <h1>Juan Manuel L&oacute;pez Pazos | Desarrollador de Software</h1>
            <h3>Amante del desarrollo Full-Stack (Node.js, Angular.js, MongoDB, ...) y otros frameworks como Laravel o Ionic</h3>
        </div>
    </div>

</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1>Bienvenido a mi página web</h1>
        <p>Con esta página web pretendo darme a conocer, mostrar a los demás mis proyectos y enseñar todo lo que sé.</p>
        <p>Espero que te guste.</p>

        <h1>Temas</h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="tema in temas">
                <img src="{{tema.imagen}}" class="img-thumbnail img-responsive">
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact white-background">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1>Contactar</h1>
        <div class="col-md-12 text-center contact-ways">
            <div class="col-md-4">
                <a href="mailto:juanmalp1992@gmail.com" target="_blank">
                    <i class="fa fa-4x fa-envelope-square"></i>
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://es.linkedin.com/in/juan-manuel-lópez-pazos-4a946963" target="_blank">
                    <i class="fa fa-4x fa-linkedin-square"></i>
                </a>
            </div>
            <div class="col-md-4">
                <a href="https://github.com/jualoppaz" target="_blank">
                    <i class="fa fa-4x fa-github-square"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74931019-1', 'auto');
    ga('send', 'pageview');

</script>

<style>
    body{
        background-color: #2b2b2b;
    }
</style>
