<div class="bg col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="col-md-12 text-center">

        <img src="/img/yo_web4.jpg" class="img-circle img-responsive">

        <div class="col-md-6 col-md-offset-3">
            <h1>Juan Manuel Lopez | Desarrollador de Software</h1>
            <h3>Amante del desarrollo Full-Stack (Node.js, Angular.js, MongoDB, ...) y otros frameworks como Laravel o Ionic</h3>
        </div>
    </div>

</div>

<section class="container">
    <h1>Bienvenido a mi página web</h1>
    <p>Con esta página web pretendo darme a conocer, mostrar a los demás mis proyectos y enseñar todo lo que sé.</p>
    <p>Espero que te guste.</p>

    <h1>Temas</h1>
    <div class="col-md-12">
        <div class="col-md-3" ng-repeat="tema in temas">
            <img src="{{tema.imagen}}" class="img-thumbnail img-responsive">
        </div>
    </div>
</section>

