<section class="container">
    <div class="row">
        <h1>
            Cursos Acad&eacute;micos
        </h1>
        <hr/>

        <div class="col-xs-12 table-responsive">
            <table
                class="table table-bordered text-center"
                data-ng-repeat="(index, cursoAcademico) in academicCourses"
            >
                <thead>
                    <tr>
                        <th colspan="7" class="text-center" data-ng-bind-template="Curso académico {{cursoAcademico.course}}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <th>Abreviatura</th>
                        <th>Departamento</th>
                        <th>Nombre de la asignatura</th>
                        <th>Curso</th>
                        <th>Nota</th>
                        <th>Método de aprobado</th>
                        <th>Conv. utilizadas</th>
                    </tr>
                    <tr>
                        <th colspan="7" class="text-center">Primer Cuatrimestre</th>
                    </tr>
                    <tr
                        data-ng-repeat="nota in cursoAcademico.data.firstQuarter"
                        class="text-center"
                    >
                        <td data-ng-bind="nota.abreviatura"></td>
                        <td data-ng-bind="nota.departamento"></td>
                        <td data-ng-bind="nota.asignatura"></td>
                        <td data-ng-bind="nota.curso"></td>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark(nota)}}"
                                data-ng-bind="nota.nota"
                            >
                            </span>
                        </td>
                        <td>
                            <span
                                class="label label-primary"
                                data-ng-show="nota.metodoAprobado === 'Parciales'"
                                data-ng-bind="nota.metodoAprobado"
                            >
                            </span>
                            <span
                                class="label label-warning"
                                data-ng-show="nota.metodoAprobado === 'Convocatoria'"
                                data-ng-bind="nota.metodoAprobado"
                            >
                            </span>
                        </td>
                        <td data-ng-bind="nota.convocatoriasUtilizadas"></td>
                    </tr>
                    <tr>
                        <th colspan="7" class="text-center">
                            Segundo Cuatrimestre
                        </th>
                    </tr>
                    <tr
                        data-ng-repeat="nota in cursoAcademico.data.secondQuarter"
                        class="text-center"
                    >
                        <td data-ng-bind="nota.abreviatura"></td>
                        <td data-ng-bind="nota.departamento"></td>
                        <td data-ng-bind="nota.asignatura"></td>
                        <td data-ng-bind="nota.curso"></td>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark(nota)}}"
                                data-ng-bind="nota.nota"
                            >
                            </span>
                        </td>
                        <td>
                            <span
                                class="label label-primary"
                                data-ng-show="nota.metodoAprobado === 'Parciales'"
                                data-ng-bind="nota.metodoAprobado"
                            >
                            </span>
                            <span
                                class="label label-warning"
                                data-ng-show="nota.metodoAprobado === 'Convocatoria'"
                                data-ng-bind="nota.metodoAprobado"
                            >
                            </span>
                        </td>
                        <td data-ng-bind="nota.convocatoriasUtilizadas"></td>
                    </tr>
                    <tr>
                        <th colspan="7" class="text-center">Anuales</th>
                    </tr>
                    <tr
                        data-ng-repeat="nota in cursoAcademico.data.allYear"
                        class="text-center"
                    >
                        <td data-ng-bind="nota.abreviatura"></td>
                        <td data-ng-bind="nota.departamento"></td>
                        <td data-ng-bind="nota.asignatura"></td>
                        <td data-ng-bind="nota.curso"></td>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark(nota)}}"
                                data-ng-bind-template="{{nota.nota || 'N/A'}}"
                            >
                            </span>
                        </td>
                        <td>
                            <span
                                class="label label-primary"
                                data-ng-show="nota.metodoAprobado === 'Parciales'"
                                data-ng-bind="nota.metodoAprobado"
                            >
                            </span>
                            <span
                                class="label label-warning"
                                data-ng-show="nota.metodoAprobado === 'Convocatoria'"
                                data-ng-bind="nota.metodoAprobado"
                            >
                            </span>
                            <span
                                class="label label-default"
                                data-ng-show="nota.metodoAprobado != 'Parciales' && nota.metodoAprobado != 'Convocatoria'"
                                data-ng-bind-template="{{nota.metodoAprobado || 'N/A'}}"
                            >
                            </span>
                        </td>
                        <td data-ng-bind="nota.convocatoriasUtilizadas"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">

        <h1>
            Cursos del Grado
        </h1>
        <hr />

        <div class="col-xs-12 table-responsive">
            <table
                class="table table-bordered text-center"
                data-ng-repeat="curso in degreeCourses"
            >
                <thead>
                    <tr>
                        <th colspan="7" class="text-center" data-ng-bind-template="Curso: {{curso.course}}º"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <th>Abreviatura</th>
                        <th>Departamento</th>
                        <th>Nombre de la asignatura</th>
                        <th>Curso</th>
                        <th>Nota</th>
                        <th>Método de aprobado</th>
                        <th>Conv. utilizadas</th>
                    </tr>
                    <tr>
                        <th colspan="7" class="text-center">Primer Cuatrimestre</th>
                    </tr>
                    <tr
                        data-ng-repeat="nota in curso.data.firstQuarter"
                        class="text-center"
                    >
                        <td data-ng-bind="nota.abreviatura"></td>
                        <td data-ng-bind="nota.departamento"></td>
                        <td data-ng-bind="nota.asignatura"></td>
                        <td data-ng-bind="nota.curso"></td>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark(nota)}}"
                                data-ng-bind="nota.nota"
                            >
                            </span>
                        </td>
                        <td>
                            <span
                                class="label label-primary"
                                data-ng-show="nota.metodoAprobado === 'Parciales'"
                                data-ng-bind="nota.metodoAprobado"
                            >
                            </span>
                            <span
                                class="label label-warning"
                                data-ng-show="nota.metodoAprobado === 'Convocatoria'"
                                data-ng-bind="nota.metodoAprobado"
                            >
                            </span>
                        </td>
                        <td data-ng-bind="nota.convocatoriasUtilizadas"></td>
                    </tr>
                    <tr>
                        <th colspan="7" class="text-center">
                            Segundo Cuatrimestre
                        </th>
                    </tr>
                    <tr
                        data-ng-repeat="nota in curso.data.secondQuarter"
                        class="text-center"
                    >
                        <td data-ng-bind="nota.abreviatura"></td>
                        <td data-ng-bind="nota.departamento"></td>
                        <td data-ng-bind="nota.asignatura"></td>
                        <td data-ng-bind="nota.curso"></td>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark(nota)}}"
                                data-ng-bind="nota.nota"
                            >
                            </span>
                        </td>
                        <td>
                            <span
                                class="label label-primary"
                                data-ng-bind="nota.metodoAprobado"
                            >
                            </span>
                        </td>
                        <td data-ng-bind="nota.convocatoriasUtilizadas"></td>
                    </tr>
                    <tr>
                        <th colspan="7" class="text-center">Anuales</th>
                    </tr>
                    <tr
                        data-ng-repeat="nota in curso.data.allYear"
                        class="text-center"
                    >
                        <td data-ng-bind="nota.abreviatura"></td>
                        <td data-ng-bind="nota.departamento"></td>
                        <td data-ng-bind="nota.asignatura"></td>
                        <td data-ng-bind="nota.curso"></td>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark(nota)}}"
                                data-ng-bind="nota.nota"
                            >
                            </span>
                        </td>
                        <td>
                            <span
                                class="label label-primary"
                                data-ng-show="nota.metodoAprobado === 'Parciales'"
                                data-ng-bind="nota.metodoAprobado"
                            >
                            </span>
                            <span
                                class="label label-warning"
                                data-ng-show="nota.metodoAprobado === 'Convocatoria'"
                                data-ng-bind="nota.metodoAprobado"
                            >
                            </span>
                            <span
                                class="label label-default"
                                data-ng-show="nota.metodoAprobado != 'Parciales' && nota.metodoAprobado != 'Convocatoria'"
                                data-ng-bind-template="{{nota.metodoAprobado || 'N/A'}}"
                            >
                            </span>
                        </td>
                        <td data-ng-bind="nota.convocatoriasUtilizadas"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <h1>
            Media por Curso Acad&eacute;mico
        </h1>
        <hr/>
        <div class="col-xs-12 table-responsive">
            <table
                class="table table-bordered text-center"
            >
                <thead>
                    <tr>
                        <th class="text-center">
                            Curso académico
                        </th>
                        <th class="text-center">
                            Media por Asignatura
                        </th>
                        <th class="text-center">
                            Media por Crédito
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="(index, course) in averageByAcademicCourseAndSubject">
                        <td data-ng-bind="course.cursoAcademico"></td>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark(course)}}"
                                data-ng-bind="course.nota"
                            >
                            </span>
                        </td>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark(averageByAcademicCourseAndCredit[index])}}"
                                data-ng-bind="averageByAcademicCourseAndCredit[index].nota"
                            >
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h1>
            Media por Curso del Grado
        </h1>
        <hr/>
        <div class="col-xs-12 table-responsive">
            <table
                class="table table-bordered text-center"
            >
                <thead>
                    <tr>
                        <th class="text-center">
                            Curso
                        </th>
                        <th class="text-center">
                            Media por Asignatura
                        </th>
                        <th class="text-center">
                            Media por Crédito
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="(index, course) in averageByDegreeCourseAndSubject">
                        <td data-ng-bind="course.curso"></td>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark(course)}}"
                                data-ng-bind="course.nota"
                            >
                            </span>
                        </td>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark(averageByAcademicCourseAndCredit[index])}}"
                                data-ng-bind="averageByDegreeCourseAndCredit[index].nota"
                            >
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <h1>
            Media del Grado
        </h1>
        <hr/>
        <div class="col-xs-12 table-responsive">
            <table
                class="table table-bordered text-center"
            >
                <thead>
                    <tr>
                        <th class="text-center">
                            Media por Asignatura
                        </th>
                        <th class="text-center">
                            Media por Crédito
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark({nota: degreeAverageBySubject})}}"
                                data-ng-bind="degreeAverageBySubject"
                            >
                            </span>
                        </td>
                        <td>
                            <span
                                class="label label-{{getLabelClassByMark({nota: degreeAverageByCredit})}}"
                                data-ng-bind="degreeAverageByCredit"
                            >
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
