main#home {
    .parallax-window {
        min-height: 600px;
        background: transparent;
    }
    /* Parallax */
    .bg {
        background: url("/images/pino_montano.jpg") 0% -140px no-repeat;
        background-size: 100% 100%;
        position: fixed;
        width: 100%;
        min-height: 800px;
        top: 0;
        left: 0;
        div {
            position: relative;
            img {
                margin: auto;
                width: 180px;
                height: 180px;
                margin-top: 100px;
                border: 4px solid white;
                @media screen and (min-width: $min-width-tablet) {
                    margin-top: 150px;
                }
            }
            div {
                h1 {
                    color: #fff;
                }
                h3 {
                    color: #fff;
                    /* CSS para letras del texto MEAN */
                    a.mean {
                        span {
                            display: inline-block;
                            &.mongo {
                                color: #3e8f3e;
                            }
                            &.express {
                                color: #e38d13;
                            }
                            &.angular {
                                color: #d43f3a;
                            }
                            &.node {
                                color: #66cc33;
                            }
                        }
                    }
                }
            }
        }
        &+div {
            /* distancia entre el section y el navbar */
            /*margin-top: 470px;*/
            margin-top: 600px;
            background-color: white;
            padding-bottom: 15px;
            @media screen and (min-width: $min-width-tablet) {
                margin-top: 500px;
            }
            @media screen and (min-width: $min-width-desktop) {
                margin-top: 520px;
            }
        }
    }
    div.contact {
        padding-bottom: 20px;
        i {
            color: #2b2b2b;
            &.fa-envelope-square {
                &:hover {
                    color: #b92c28;
                }
            }
            &.fa-github-square {
                &:hover {
                    color: #ccc;
                }
            }
            &.fa-linkedin {
                &:hover {
                    color: #069;
                }
            }
        }
    }
}