nav.navbar.navbar-fixed-top.navbar-default(role="navigation")
    div.container
        div.navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse")
                span.sr-only Cambiar la navegación
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(ui-sref="home").navbar-brand.middle Inicio
            //ul.nav.navbar-nav.navbar-right.hidden-lg.hidden-md.hidden-sm
                li(style="float: right; padding-right: 15px")
                    a(href="https://twitter.com/pronostigolesp", target="_blank", ng-cloak)
                        i.fa.fa-twitter
                li(style="float: right")
                    a(href="https://www.facebook.com/pronostigol.es", target="_blank", ng-cloak)
                        i.fa.fa-facebook
        div.collapse.navbar-collapse(role="navigation")
            ul.nav.navbar-nav
                //li
                    a(ng-href="contacto") Contacto
                li
                    a(ui-sref="curriculum") Curr&iacute;culum
                //li.hidden-lg.hidden-md.hidden-sm(ng-show="usuarioEstaLogueado == false")
                    a(ng-href="login") Entrar
                li.hidden-lg.hidden-md.hidden-sm(ng-show="usuarioEstaLogueado")
                    a(ng-href="#", ng-click="cerrarSesion()") Cerrar sesión
                //li.hidden-lg.hidden-md.hidden-sm(ng-show="usuarioEstaLogueado == false")
                    a(ng-href="/signup") Registrarse

            ul.nav.navbar-nav.navbar-right.hidden-xs
                //li
                    a(href="https://www.facebook.com/pronostigol.es", target="_blank", ng-cloak)
                        i.fa.fa-facebook
                //li
                    a(href="https://twitter.com/pronostigolesp", target="_blank", ng-cloak)
                        i.fa.fa-twitter
                li(ng-show="isAuthenticated()", style="margin-left:15px", ng-cloak)
                    a.btn.btn-qdb(href="/logout", role="button", ng-click="cerrarSesion()")#entrar Cerrar sesión
                //li(ng-show="!isAuthenticated()", style="margin-left:15px", ng-cloak)
                    a.btn.btn-qdb(href="/login", role="button")#entrar Entrar

//include ../modals/login
//include ../modals/logout.js