<section class="container">
    <h3 class="pdf">
        Consultar en Formato PDF
        <a ng-href="/docs/Curriculum.pdf" target="_blank" title="Visualizar">
            <i class="far fa-file-pdf"></i>
        </a>
        <a
            ng-href="/docs/Curriculum.pdf"
            target="_self"
            download
            title="Descargar"
        >
            <i class="fa fa-download"></i>
        </a>
    </h3>
    <h1 class="col-xs-12">
        <i class="fa fa-graduation-cap"></i>&nbsp;Formaci&oacute;n
        Acad&eacute;mica
    </h1>
    <hr class="col-xs-12 without-lateral-padding" />
    <ul class="media-list col-xs-12 without-lateral-padding">
        <li
            class="media"
            ng-repeat="formacion in curriculum.curriculum.formacionAcademica"
        >
            <div class="media-left media-middle">
                <a ng-href="#">
                    <img
                        class="media-object main-image"
                        ng-src="{{ formacion.imagen }}"
                    />
                </a>
            </div>
            <div class="media-body">
                <h4>
                    <b>{{ formacion.desde }} - {{ formacion.hasta }}</b>
                </h4>
                <a
                    class="media-heading"
                    ng-bind-template="{{ formacion.descripcion }}"
                ></a>
                <br />
                Si quieres ver mis notas en la Universidad consulta mi
                <a
                    ui-sref="curriculum.academic-record"
                    class="expediente-academico"
                    >Expediente académico</a
                >
            </div>
        </li>
    </ul>
    <h1 class="col-xs-12">
        <i class="fa fa-briefcase"></i>&nbsp;Experiencia Profesional
    </h1>
    <hr class="col-xs-12 without-lateral-padding" />
    <ul class="media-list col-xs-12 without-lateral-padding">
        <li
            class="media"
            ng-repeat="experiencia in curriculum.curriculum.experienciaProfesional"
        >
            <div class="media-left">
                <a ng-href="{{ experiencia.company.web }}" target="_blank">
                    <img
                        class="media-object main-image"
                        ng-src="/images/{{ experiencia.company.image }}"
                    />
                </a>
            </div>
            <div class="media-body">
                <h4 ng-class="{'title-job-centered': !experiencia.description}">
                    <b
                        >{{ experiencia.startDate | date: "MM/yyyy" }} - {{
                        experiencia.endDate ? (experiencia.endDate | date:
                        "MM/yyyy") : "Actualidad" }}: {{
                        experiencia.company.name }}</b
                    >
                </h4>
                <a
                    class="media-heading"
                    ng-show="experiencia.description"
                    ng-bind="experiencia.description"
                ></a>
                <!-- Seccion para mostrar colaboraciones en clientes -->
                <div ng-repeat="client in experiencia.clients">
                    <div class="media-left">
                        <a ng-href="{{ client.company.web }}" target="_blank">
                            <img
                                class="media-object secondary-image"
                                ng-src="/images/{{ client.company.image }}"
                            />
                        </a>
                    </div>
                    <div class="media-body">
                        <h4>
                            <b
                                >{{ client.startDate | date: "MM/yyyy" }} - {{
                                client.endDate | date: "MM/yyyy" }}</b
                            >
                        </h4>
                        <a
                            class="media-heading"
                            ng-show="client.description"
                            ng-bind="client.description"
                        ></a>
                    </div>
                    <h3
                        class="proyectos-cliente"
                        ng-show="client.projects.length"
                    >
                        Proyectos
                    </h3>
                    <div
                        class="proyecto-cliente"
                        ng-repeat="project in client.projects"
                    >
                        <div class="custom-line">
                            <b>
                                <a ng-bind-template="{{ project.name }}: "></a>
                                <a
                                    ng-bind-template="{{
                                        project.startDate | date: 'MM/yyyy'
                                    }} - {{
                                        project.endDate | date: 'MM/yyyy'
                                    }}"
                                ></a>
                            </b>
                        </div>
                        <div class="custom-line" ng-if="project.description">
                            <p ng-bind="project.description"></p>
                        </div>
                        <div class="custom-line">
                            <a>Puesto: </a> <a ng-bind="project.position"></a>
                        </div>
                        <div
                            ng-show="project.technologies"
                            class="custom-line technologies"
                        >
                            <a class="pull-left title"
                                >Tecnologías utilizadas:</a
                            >
                            <div class="technologies-list">
                                <a
                                    ng-href="{{ technology.web }}"
                                    target="_blank"
                                    ng-repeat="technology in project.technologies"
                                >
                                    <img
                                        title="{{ technology.name }}"
                                        class="col-xs-4 img-responsive img-thumbnail technology"
                                        ng-src="/images/{{ technology.image }}"
                                    />
                                </a>
                            </div>
                        </div>
                        <div class="custom-line functions-title">
                            Funciones:
                        </div>
                        <ul class="list-group functions-list">
                            <li
                                class="list-group-item"
                                ng-repeat="function in project.functions"
                                ng-bind="function.text"
                            ></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Seccion para mostrar proyectos de la empresa -->
            <h3 class="proyectos-empresa" ng-show="experiencia.projects.length">
                Proyectos
            </h3>
            <div ng-repeat="project in experiencia.projects">
                <div class="custom-line">
                    <b>
                        <a ng-bind-template="{{ project.name }}: "></a>
                        <a
                            ng-bind-template="{{
                                project.startDate | date: 'MM/yyyy'
                            }} - {{
                                project.endDate
                                    ? (project.endDate | date: 'MM/yyyy')
                                    : 'Actualidad'
                            }}"
                        ></a>
                    </b>
                </div>
                <div class="custom-line" ng-if="project.description">
                    <p ng-bind="project.description"></p>
                </div>
                <div class="custom-line">
                    <a>Puesto: </a> <a ng-bind="project.position"></a>
                </div>
                <div ng-show="project.technologies" class="technologies">
                    <a class="pull-left title">Tecnologías utilizadas:</a>
                    <div class="technologies-list">
                        <a
                            ng-href="{{ technology.web }}"
                            target="_blank"
                            ng-repeat="technology in project.technologies"
                        >
                            <img
                                title="{{ technology.name }}"
                                class="col-xs-4 img-responsive img-thumbnail technology"
                                ng-src="/images/{{ technology.image }}"
                            />
                        </a>
                    </div>
                </div>
                <div class="custom-line functions-title"><a>Funciones:</a></div>
                <ul class="list-group functions-list">
                    <li
                        class="list-group-item"
                        ng-repeat="function in project.functions"
                        ng-bind="function.text"
                    ></li>
                </ul>
            </div>
        </li>
    </ul>
    <h1 class="col-xs-12">
        <i class="fa fa-university"></i>&nbsp;Formación Complementaria
    </h1>
    <hr class="col-xs-12" />
    <ul class="media-list col-xs-12 without-lateral-padding">
        <li
            class="media"
            ng-repeat="formacion in curriculum.curriculum.formacionComplementaria"
        >
            <div class="media-left media-middle">
                <a ng-href="docs/{{ formacion.certification }}" target="_blank">
                    <img
                        class="media-object main-image"
                        ng-src="/images/{{ formacion.image }}"
                        title="Ver certificado"
                    />
                </a>
            </div>
            <div class="media-body">
                <h4>
                    <b
                        ng-bind-template="{{ formacion.date | date: 'MMMM' }} de
                    {{ formacion.date | date: 'yyyy' }}"
                    ></b>
                </h4>
                <a class="media-heading">{{ formacion.description }}</a>
            </div>
        </li>
    </ul>
    <h1 class="col-xs-12"><i class="fas fa-code-branch"></i>&nbsp;Proyectos</h1>
    <hr class="col-xs-12" />
    <ul class="media-list col-xs-12 without-lateral-padding">
        <li
            class="media"
            ng-repeat="proyecto in curriculum.curriculum.proyectos"
        >
            <div class="media-left">
                <a ng-href="#">
                    <img
                        class="media-object main-image"
                        ng-class="{'img-circle': proyecto.bordeImagen === 'img-circle'}"
                        ng-src="/images/{{ proyecto.image }}"
                    />
                </a>
            </div>
            <div class="media-body">
                <h4>
                    <b>
                        {{ proyecto.startDate | date: "MM/yyyy" }} - {{
                        proyecto.endDate ? (proyecto.endDate | date: "MM/yyyy")
                        : "Actualidad" }}: {{ proyecto.name }}
                    </b>
                </h4>
                <a class="media-heading col-xs-12 without-lateral-padding"
                    >{{ proyecto.description }}</a
                >
                <div
                    ng-show="proyecto.technologies.length"
                    class="technologies col-xs-12 without-lateral-padding"
                >
                    <b class="pull-left title">Tecnologías utilizadas:</b>
                    <div class="technologies-list">
                        <a
                            ng-href="{{ technology.web }}"
                            target="_blank"
                            ng-repeat="technology in proyecto.technologies"
                        >
                            <img
                                title="{{ technology.name }}"
                                class="col-xs-4 img-responsive img-thumbnail technology"
                                ng-src="/images/{{ technology.image }}"
                            />
                        </a>
                    </div>
                </div>
                <div
                    ng-repeat="link in proyecto.links | orderBy:'$index'"
                    class="custom-line col-xs-12 without-lateral-padding"
                >
                    <b
                        ng-bind-template="{{
                            curriculum.getLinkTypeTitle(link.type)
                        }}:"
                    ></b>
                    <a ng-href="{{ link.value }}" target="_blank"
                        >{{ curriculum.getLinkValueTitle(link) }}</a
                    >
                </div>
            </div>
        </li>
    </ul>
    <h1 class="col-xs-12"><i class="fa fa-book"></i>&nbsp;Conocimientos</h1>
    <hr class="col-xs-12 without-lateral-padding" />
    <ul
        class="media-list col-xs-12 without-lateral-padding"
        ng-repeat="conocimientos in curriculum.curriculum.conocimientos"
    >
        <h3>
            <i
                class="fa fa-code"
                ng-show="conocimientos.tipo === curriculum.KNOWLEDGE_TYPE.PROGRAMMING_LANGUAGE"
            ></i>
            <i
                class="fa fa-puzzle-piece"
                ng-show="conocimientos.tipo === curriculum.KNOWLEDGE_TYPE.FRAMEWORK"
            ></i>
            <i
                class="fa fa-paint-brush"
                ng-show="conocimientos.tipo === curriculum.KNOWLEDGE_TYPE.WEB_DESIGN"
            ></i>
            <i
                class="fa fa-sitemap"
                ng-show="conocimientos.tipo === curriculum.KNOWLEDGE_TYPE.TEMPLATE_ENGINE"
            ></i>
            <i
                class="fa fa-database"
                ng-show="conocimientos.tipo === curriculum.KNOWLEDGE_TYPE.DATABASE"
            ></i>
            <i
                class="fa fa-share-alt"
                ng-show="conocimientos.tipo === curriculum.KNOWLEDGE_TYPE.VERSION_CONTROL_SYSTEM"
            ></i>
            <i
                class="fa fa-calendar"
                ng-show="conocimientos.tipo === curriculum.KNOWLEDGE_TYPE.PROJECT_MANAGEMENT_TOOL"
            ></i>
            <i
                class="fa fa-cogs"
                ng-show="conocimientos.tipo === curriculum.KNOWLEDGE_TYPE.CONFIGURATION_MANAGEMENT_TOOL"
            ></i>
            &nbsp;{{ curriculum.getKnowledgeTypeTitle(conocimientos.tipo) }}
        </h3>
        <li
            class="media col-md-4 col-sm-6 col-xs-12"
            ng-repeat="conocimiento in conocimientos.lista"
        >
            <div class="media-left">
                <a ng-href="{{ conocimiento.technology.web }}" target="_blank">
                    <img
                        class="media-object main-image"
                        ng-src="/images/{{ conocimiento.technology.image }}"
                        title="{{ conocimiento.technology.name }}"
                    />
                </a>
            </div>
            <div class="media-body media-middle">
                <div class="progress" ng-show="conocimiento.level === 1">
                    <div
                        class="progress-bar progress-bar-danger"
                        role="progressbar"
                        aria-valuenow="33.3"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 33.3%"
                    >
                        <span class="">Básico</span>
                    </div>
                </div>
                <div class="progress" ng-show="conocimiento.level === 2">
                    <div
                        class="progress-bar progress-bar-info"
                        role="progressbar"
                        aria-valuenow="66.6"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 66.6%"
                    >
                        <span class="">Intermedio</span>
                    </div>
                </div>
                <div class="progress" ng-show="conocimiento.level === 3">
                    <div
                        class="progress-bar progress-bar-success"
                        role="progressbar"
                        aria-valuenow="100"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 100%"
                    >
                        <span class="">Avanzado</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <h1 class="col-xs-12"><i class="fa fa-users"></i>&nbsp;Idiomas</h1>
    <hr class="col-xs-12 without-lateral-padding" />
    <ul class="media-list col-xs-12 without-lateral-padding">
        <li class="media" ng-repeat="idioma in curriculum.curriculum.idiomas">
            <div class="media-left">
                <a ng-href="#">
                    <img
                        class="media-object main-image"
                        ng-src="{{ idioma.imagen }}"
                    />
                </a>
            </div>
            <div class="media-body">
                <h4>
                    <b
                        >Nivel {{ idioma.nivel }} en {{ idioma.nombre }} ({{
                        idioma.fecha }})</b
                    >
                </h4>
                <a class="media-heading">{{ idioma.descripcion }}</a>
            </div>
        </li>
    </ul>
</section>
